<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Company>
    <Name>Server 1</Name>
    <ServerName>SERVER1</ServerName>
  </Company>
  <Company>
    <Name>Server 2</Name>
    <ServerName>SERVER2\INSTANCE</ServerName>
  </Company>
  <!-- Add more servers as needed -->
</Config> 